@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;

}

main {
    flex-grow: 1;
}
section {
    padding: 3.5em 60px;
}

/* header css */
.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

}

.main_header_sidebar input {
    display: none;
}




 .main_header_sidebar label{
    border-radius: 52%;
    padding: 8px;
    width: 45px; 
    height: 45px;
background-color: #fff;
    display: block;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
   
}


.main_header_sidebar label>span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 2px;
    background-color: black;
}
.main_header_icons{
    background-color: white;
    border-radius: 52%;
    width: 48px;
    height: 48px;
    padding: 8px;
    gap: 10px;
}

/* navigational links css */
.main_header nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}