@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;

}

main {
    flex-grow: 1;
}
section {
    padding: 3.5em 60px;
}

@media screen and (width < 920px) {
    section {
        padding: 3.5em 20px;
    }

    section h2 {
        font-size: 1.8rem;
    }
}

/* header css */
.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

}
.main_header_logo_container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.main_header div , .main_header nav{
    flex: 1;
}

.main_header_sidebar input {
    display: none;
}




 .main_header_sidebar label{
    border-radius: 52%;
    padding: 8px;
    width: 45px; 
    height: 45px;
background-color: #fff;
    display: block;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
   
}


.main_header_sidebar label>span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 2px;
    background-color: black;
}
.main_header_icons{
    background-color: white;
    border-radius: 52%;
    width: 48px;
    height: 48px;
    padding: 8px;
    gap: 10px;
}

/* navigational links css */
.main_header nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}
@media screen and (width < 570px) {
    .main_header {
        flex-wrap: wrap;
        padding: 10px 30px;
        gap: 10px;
        /* justify-content: center; */
    }

}
.filter{
    padding: 30px 0px 30px 60px;
    overflow: hidden;
}

.filter form{
    display: flex;
    align-items:center;
    gap:20px;
}
.filter form>div{
    flex-shrink: 0;
}

.filter form input, .filter form select{
    padding: 12px 16px;
    border-radius: 37px;
    background: white;
    font-size: 1.1rem;
}

.searchBar{
    position: relative;
}
.filter form input{
    width: 350px;
}
.searchIcon{
    
    position: absolute;
    right: 10px;
    top: 15px;
    z-index:10;
}
.filter form .searchIcon img {
    width: 18px;
    height: 18px;
}    

@media screen and (width < 570px) {
    .filter {
        padding: 30px 0px 30px 30px;
    }

    .filter form input {
        width: 260px;
    }
}

/* hero section css */
.hero_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    min-height: 100vh;
    padding: 30px 60px;

}
.card_white{
    grid-row: span 3;
    grid-column: span 2;
    background-color: #fff;
    border-radius: 37px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.card_white h2{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0%;
}
.card_white p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 0%;
    margin: 14px auto;
}
.card_white .button_container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.shop_now_btn{
    border-radius: 37px;
    padding: 16px 24px;
    width: 200px;
    height: 60px;
    font-size: 1.1rem;
    color: white;
    background-color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
 .shop_arrow_btn{
    border-radius: 50%;
    padding: 16px;
    margin-left:10px;
    height:60px;
     width: 60px;
     color: white;
     background-color: black;
;
}




.card_white_bottom{
    display: flex;
    gap: 12px;
    

}
.card_white_bottom .card_white_bottom_left{
    flex-basis: 70%;
    
}
.card_white_bottom .card_white_bottom_right{
    align-self: flex-end;
    flex-basis: 30%;
    /* border: 1px solid black; */
}
   .card_white_bottom_right img{
    border-radius: 50%;
    margin-right: -14px;
   }
   .gradient_card{
    grid-area: span 3/ span 2;
    background: linear-gradient(180deg, #D7EBEB 14.69%, #F4AFE9 55.52%, #9D7EF3 100%);
    border-radius: 24px;
    padding: 20px;
   }
   .gradient_card img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
   }

   .last_card{
    grid-column: span 4;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

   }
   .last_card div{
    border-radius: 37px;
   }
   .last_card button{
    background-color: #000;
    border-radius: 37px;
    color:white;
   }
   .last_card img{
    width: 100%;
    border-radius: 30px;
   }
   .last_card_right{
    border-radius: 30px;
    background-color: white;
    padding: 40px 30px;

   }

   @media screen and (width < 920px) {
    .hero_section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 2.5em 20px;
    }

    .card_white h1 {
        font-size: 2rem;
    }

    .card_white,
    .gradient_card {
        grid-area: span 1;
    }
    

    .card_white_bottom {
        margin-top: 2em;
        flex-direction: column;
    }

    .gradient_Card {
        display: hidden;
        max-width: auto;
    }
    .card_white_bottom .card_white_bottom_right{
    align-self: flex-start;
    flex-basis: 100%;
    /* border: 1px solid black; */
}

    .last_card {
        grid-area: span 1;
        flex-direction: column;
    }
}


   
   /* category list*/ 
   .category_list h2{
    margin-bottom: 20px;
   
   }

 .category_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
 }
 .category_container figure{
    margin: 0;
    width: 100%;
    height: 100%;
 }
 .category_container img{
    border-radius: 37px;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 1/1.4;
    object-fit: cover;
    
 }
 
 
 .product_list header {
    display: flex;
    justify-content: space-between;
     margin-bottom: 20px;

 }
 .products_buttons{
    display: flex;
    gap: 15px;
    width: 276px;
 }
 .products_buttons button{
    border-radius: 37px;
    width: 84px;
    height: 40px;
 }
 .products_buttons button.active{
    background-color: black;
    color:white;
    width: 65px;
 }
 .product_container{
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .product_container figure{
    width: 100%;
    height: 100%;
    margin: 0;
    flex: 0.25;
 }
 .product_container img{
    border-radius: 37px;
    width: 100%;
    /* aspect-ratio: 1/1.3; */
    object-fit: cover;

 }
 .product_container figure:nth-child(2){
    flex: 0.5;
 }
@media screen and (width < 920px) {
    .category_list header {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    
    .category_list .category_container {
        flex-direction: column;
        position: relative;
    }

    

    .product_list header{
         flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .product_list header button {
        display: block;
        margin-bottom: 1em;
    }
     .product_list .product_container {
        flex-direction: column;
        position: relative;
    }
    .product_container img{
    border-radius: 37px;
    width: 100%;
    aspect-ratio: 1/1.3;
    object-fit: cover;

 }

}


   
/* why us  */

.why_us .container_cards {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 20px;
   
}



.why_us .container_cards div {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    gap: 1em;
    background-color: #fff;
    border-radius: 37px;
    padding: 1.5em;
}
 .container_cards img{
    width : 30px;
    height: 30px;
    margin: auto;
 }
 @media screen and (width < 920px) {
    .why_us .container_cards {
        flex-direction: column;
    }
    .why_us .container_cards div{
        aspect-ratio: 1/0.6;
    }
}

/*  cta css */

.cta {
    margin: 2em 60px;
    border-radius: 37px;
    background: transparent url('../assets/backgroundImage.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.cta .container {
    background: #fff;
    padding: 4em 3em;
    border-radius: 37px;
    display: flex;
    gap: 1.5em;
}


.cta .right {
    flex-grow: 1;
    flex-shrink: 0;
    
}

.cta .left {
    /* flex-grow: 1; */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */

}


.cta .left p {
    max-width: 80%;
}

.cta form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* width: 100%; */
    margin-bottom: 1.2em;
}


.cta form input {
    padding: 1em;
    border-radius: 30px;
     width: 310px; 
}
.cta form button{
    border-radius: 30px;
    background-color: black;
    color: white;
    width: 310px;
    height: 45px;
}
@media screen and  (width < 1215px){
    .cta .container {
        flex-wrap: wrap;
        /* width:  */
    }

}
    

@media screen and (width < 920px) {
    .cta .container{
        flex-wrap: wrap;
        width: 100%;
    }

    .cta {
        margin: 2.5em 20px;
    }

    .cta .container .left {
        flex-shrink: 1;
    }
    .cta .container .right div input{
        width: 100%;
    }
    .cta .container .right button{
        width: 100%;    
    }
}


.footer_section{
    padding: 64px;
    /* margin: 2.5em 20px; */

}

.footer_container{
    display: flex;
    
    gap: 30px;
    border-radius: 37px;
    background-color: white;
    /* align-items: center; */
    justify-content: space-around;
    padding: 32px 64px ;
}

.footer_card1_platformIcons{
    margin-left: 60px;
    margin-top: 10px;
}

.footer_section ul{
    list-style-type: none;
}
.footer_card4 li{
    display: inline-block;
}

@media  screen and (width < 920px){
    .footer_section{
        padding: 2.5em 20px;
    }
    .footer_container{
        flex-wrap: wrap;
        flex-direction: column;
        /* margin: 2.5em 20px; */
       width: 100%;
    }
    .footer_container .footer_card1>img{
        width: 100%;
        
    }
    .footer_card1_platformIcons{
        display: flex;
         /* margin-right:  100px;   */
    }
    .footer_card4 ul{
        display: flex;
        flex-direction: column;
    }
}
